body {
    background-image: url('/images/backgrounds/nature/natfl065.jpg');
}

.main_box {
    width: 70%;
    margin: auto;
}

.gallery-logo {
    text-align: center;
    padding: 20px;
    filter: drop-shadow(0 0 20px #000000ce);
}

.ezgallery.montage.art img {
    border-radius: 5px;
    filter: drop-shadow(0 0 20px #000000b8);
    transition: all 0.4s ease;
}

.ezgallery.montage.art img:hover {
    transform: scale(1.06);
}

@media only screen and (max-width: 530px) {

    .gallery-logo img {
        width: 100%;
    }

    .gallery-logo {
        padding: 5px;
    }

    h2 {
        font-size: 0.8em;
    }

}