:root {
    /* toolbar */
    --color-light-marsh: #7c8a5f;
    /* canvas bg */
    --color-dark-marsh: #2b3029;
    /* borders */
    --color-s-dark-green: #11180f;
    /* buttons hover */
    --color-light-gray: #c0c0c0;
    /* buttons active */
    --color-dark-green: #71826b;

    --color-l-beige: #f1eeba;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LexendReg";
    src: url("/fonts/Lexend/static/Lexend-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 6px;
}  */

body {
    font-family: "LexendReg";
    font-size: 20px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    /* margin: auto; */
    border: 8px solid var(--color-s-dark-green);
}

.toolbar {
    background: var(--color-light-marsh);
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 8px solid var(--color-s-dark-green);
}

.tool-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tool-group label {
    font-size: 14px;
}

#colorPicker {
    width: 50px;
    height: 50px;
    padding: 3px;
    border: 2px solid var(--color-s-dark-green);
    cursor: pointer;
    background-color: white;
}

#colorPicker:hover {
    background-color: var(--color-light-gray);
}

#brushSize {
    cursor: pointer;
}

/* Style the entire slider */
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    height: 40px;
    background: transparent;
    /* background-image: url('/icons/brush_size.png'); */
    background-size: cover;
    image-rendering: pixelated;
}

/* Style the slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: url('/paint/icons/brush_size_button.png') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    image-rendering: pixelated;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: url('/paint/icons/brush_size_button.png') no-repeat center;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

/* Style the track */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 40px;
    background: url('/paint/icons/brush_size.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 2px;
}

/* For Firefox */
input[type="range"]::-moz-range-track {
    width: 200px;
    height: 40px;
    background: url('/paint/icons/brush_size.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 2px;
}

#sizeValue {
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

button {
    font-family: "LexendReg";
    font-size: 20px;
    /* padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s; */
}

button img {
    padding-top: 3%;
    height: 95%;
    image-rendering: pixelated;
}

.do-btn {
    height: 60px;
    padding: 4px;
    background: #ffffff;
    color: var(--color-dark-marsh);
    border: 3px solid var(--color-s-dark-green);
}

.do-btn:hover {
    background: var(--color-light-gray);
}

.do-btn:active {
    background-color: var(--color-dark-green);
}

.mode-btn {
    height: 80px;
    width: 80px;
    background: #ffffff;
    color: var(--color-dark-marsh);
    border: 3px solid var(--color-s-dark-green);
}

.mode-btn:hover {
    background-color: var(--color-light-gray);
}

.mode-btn.active {
    background-color: var(--color-dark-green);
}

.zoomBtns {
    height: 40px;
    width: 60px;
    background: #ffffff;
    color: var(--color-dark-marsh);
    border: 3px solid var(--color-s-dark-green);
}

.zoomBtns:hover {
    background-color: var(--color-light-gray);
}

.zoomBtns:active {
    background-color: var(--color-dark-green);
}

#clearBtn {
    padding: 5px;
    background: #ffffff;
    color: var(--color-dark-marsh);
    border: 3px solid var(--color-s-dark-green);
}

#clearBtn:hover {
    background: #ff6666;
}

#saveBtn {
    padding: 5px;
    background: #ffffff;
    color: var(--color-dark-marsh);
    border: 3px solid var(--color-s-dark-green);
}

#uploadBtn {
    padding: 5px;
    background: #ffffff;
    color: var(--color-dark-marsh);
    border: 3px solid var(--color-s-dark-green);
}

#uploadBtn:hover {
    background: var(--color-light-gray);
}

#saveBtn:hover {
    background: #66ff66;
}

#uploadBtn:active,
#clearBtn:active,
#saveBtn:active {
    background: var(--color-dark-green);
}

#preview {
    border: 2px solid var(--color-s-dark-green);
    background: #fff;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.canvas-container {
    width: 100%;
    height: 100%;

    overflow: scroll;

    /* flex: 1;
    display: flex;
    justify-content: left;
    align-items: start; */
    background: var(--color-dark-marsh);

    position: relative;
}

.cursor-preview {
    margin: 50px;
    position: absolute;
    pointer-events: none;
    border: 2px solid #00ff00;
    background: rgba(0, 255, 0, 0.2);
    display: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 10;
}

/* .cursor-preview {
    position: relative;
    pointer-events: none;
    border: 2px solid #00ff00;
    background: rgba(0, 255, 0, 0.2);
    display: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 10;
} */

#canvas {
    margin: 50px;

    background: #ffffff;
    cursor: crosshair;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /* Pixelated appearance */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    /* Remove smoothing */
    filter: none;
}

#hi-hi {
    color: white;
    padding: 5px;
    font-size: 12px;
    background-color: #5b6159;
    border: 2px solid #dbdbdb;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: all 0.5s ease;
}

#hi-hi a {
    color: white;
}

#hi-hi:hover {
    cursor: pointer;
    transform: scale(1.1);
}

footer {
    text-align: center;
    color: white;
    background-color: var(--color-dark-marsh);
    padding: 20px;
}

footer a {
    color: white;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ARTS */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#pixelGallery {
    background-color: var(--color-light-marsh);
    padding: 70px 20px;
}

#pixelGalleryBubble {
    padding-left: 20px;
    width: 100%;
    max-width: 763px;
    transition: all 1s ease;
}

#pixelGalleryBubble:hover {
    transform: scale(1.2) translateX(80px) rotate(5deg);
}

#pixelGallery h1 {}

.arts-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    row-gap: 30px;
    justify-content: space-around;
}

.art-container {
    background-color: var(--color-l-beige);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
}

.art-container img {
    image-rendering: pixelated;
    align-self: center;
    width: 95%;
}

.art-container #name-site {
    align-self: center;
    height: 60px;
    padding: 5px 15px;
}

.art-container #time-date {
    align-self: center;
    padding: 5px 0 0 0;
}

#help {
    background-color: var(--color-l-beige);
    padding: 30px 50px;
}

#help h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

#help ul {
    padding-left: 36px;
    margin-bottom: 20px;
}

#help p {
    font-size: 20px;
    margin-bottom: 20px;

}

@media only screen and (max-width: 530px) {

    .art-container {
        background-color: var(--color-l-beige);
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 100%;
    }

    .arts-grid {
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

}


@media only screen and (max-width: 530px) {

    #hi-hi {
        display: none;
    }

    .mode-btn {
        height: 40px;
        width: 40px;
    }

    .do-btn {
        height: 40px;
    }

    .zoomBtns {
        width: 40px;
    }

    .toolbar {
        padding: 5px;
        width: 100%;
        display: flex;
        gap: 5px;
    }

    #colorPicker {
        width: 40px;
        height: 40px;
    }

    .cursor-preview {
        margin: 5px;
    }

    #canvas {
        margin: 5px;
    }

}

.tippy-box[data-theme~='green'] {
    background-color: white;
    color: #29461f;
    border-radius: 8px;
    border: 1px solid #29461f;
}

.tippy-box[data-theme~='green']>.tippy-arrow::before {
    color: white;
}